#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#registerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#registerbox a {
  margin-top: 25px;
  color: black;
}

.userform {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 100%;
}

input:not(:first-of-type) {
  margin: 5px 0 0;
}

#captcha {
  max-width: 200px;
  overflow: hidden;
}