#header {
  height: 43px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

@media only screen and (min-width: 380px) {
  #header {
    height: 52px;
  }
}


.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14px 0 14px;
}

#logo {
 width: 29px;
}

@media only screen and (min-width: 380px) {
  #logo {
    width: 36px;
  } 
}



span {
  color: #c08fc2;
  font-size: 24px;
}