#addDay {
  height: 80%;
  z-index: 20;
  background: #ececec;
  box-shadow: 0px 0px 100px rgba(1, 1, 1, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#close {
  position: absolute;
  transform: translateX(-100%);
  right: -5px;
  top: 9px;
  font-size: 2rem;
  color: grey;
}

#content {
  margin: 22px;
}

#content h2 {
  color: #c08fc2;
  width: fit-content;
}

form {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

textarea,
input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid grey;
  font-size: 1rem;
}

textarea {
  height: 160px;
}

select {
  appearance: none;
  border-radius: 5px;
  border: 1px solid grey;
}

input[type="button"] {
  height: 53px;
  width: 211px;
  margin: auto;
  padding: 0;
}

#divider {
  display: flex;
  justify-content: space-between;

  padding: 0 5px 0 5px;
}
