/* #region Standard Styling */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: basic-sans, Arial, sans-serif;
}

a {
  outline: none;
  color: #3c1efa;
  text-decoration: none !important;
  font-size: 1.1rem;
}

a:hover {
  cursor: pointer;
  color: #3c79fa;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #C08FC2;
}
/* #endregion */


/* #region Input Styling */
button {
  font-size: 1.1rem;
  font-weight: bold;
  background: #3c1efa;
  color: #ececec;
  padding: 5px 20px;
  border-radius: 20px;
}

input,
textarea {
  font-size: 1.2rem;
}
/* #endregion */


/* #region Width repair */
input[type="text"],
input[type="password"],
textarea {
  box-sizing: border-box;
  font-size: 1.2rem;
}
/*#endregion */


/* #region Size matching of different input types */
input[type="text"],
input[type="password"],
input[type="button"],
textarea {
  border: none;
  padding: 15px 20px;
  border-radius: 30px;
}
/*#endregion */


/* #region Remove standard outlines (they are odd) */
input[type="text"]:focus,
input[type="password"]:focus,
textarea {
  outline: none;
}
/* #endregion */


/* #region Font Sizes */
h1 {
  font-size: 8.0rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}
/* #endregion */



/* #region Placeholder color */
input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
  color: gray;
  font-weight: bold;
}
/* #endregion */


/* #region Button Color styling */
input[type="button"] {
  color: #ececec;
  background: #3c1efa;
}
/* #endregion */


/* #region Button hover and click effect*/

input[type="button"]:hover {
  background: #3c79fa;
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ececec;
}

#header {
  height: auto;
}

#main-view {
  overflow: hidden;
  height: 100%;
  width: 100vw;
}

/* #endregion */