#pixeltable {
  width: inherit;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#tablewrapper {
  max-width: 90%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-top: 10px;
}

th {
  transform: translate(3px, -5px) rotate(-55deg);
  font-size: 0.8rem;
}

td {
  position: relative;
  height: 1px;
}

td:not(:first-of-type) {

  border: 0.05rem solid #707070;
}

.daypixel {
  height: 100%;
  width: 100%;
  clear: both;
}