.landing {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.page {
  margin: 0 0 200px 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 80vh;
}

.middle {
  z-index: 20;
  align-self: center;
  width: fit-content;

  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle h1 {
  font-size: 1.9rem;
  padding-bottom: 30px;
}

.middle button {
  width: 180px;
}

.middle p {
  color: #ececec;
}

#one {
  width: 90%;
  height: fit-content;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

.bg-img-photo-spoiler {
  opacity: 0.7;
  right: -10%;
  z-index: 1;
  height: 400px;
  overflow: hidden;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.content {
  margin-top: 8px;
  backdrop-filter: blur(1px);
}